<!DOCTYPE html>
<html>
  <head>
    <title>Trellis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <link rel="stylesheet" href="https: fonts.googleapis.com/css?family=Nanum+Gothic"> %>
    <%# <link rel="stylesheet" href="https: fonts.googleapis.com/css?family=PT+Sans"> %>
    <%# <link rel="stylesheet" href="https: fonts.googleapis.com/css?family=PT+Sans+Caption"> %>
    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser = {
          "currentUserId": <%= current_user.id %>
          }
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
